### Imports

In [25]:
import pandas as pd
import numpy as np
from pathlib import Path

path = Path.cwd()
SEED = 42

### Question 1

In [21]:
filename1 = "data_problem1_module 5-6 assignment.xlsx"
df_q1 = pd.read_excel(Path(path, filename1))
df_q1.head()

   Sockpct  Pitch*1000
0     1.10          13
1     1.10          16
2     1.10          15
3     1.10          16
4     1.15          15

In [27]:
q1_samp = df_q1.sample(15, random_state=SEED)
q1_samp

    Sockpct  Pitch*1000
29     1.15          35
15     1.10          26
24     1.10          28
17     1.10          25
8      1.10          18
9      1.10          19
30     1.10          56
25     1.15          32
12     1.15          21
0      1.10          13
4      1.15          15
16     1.10          24
5      1.15          16
13     1.15          25
11     1.10          19

### Question 3

In [49]:
filename2 = "Module 5-6 Assignment Problem 3 Data.txt"
df_q3 = pd.read_csv(Path(path, filename2), sep='\s+')
df_q3.head()

   Obs   A   B   N  Sample_Mean  Sample_SD
0    1  a1  b1  20         10.7        8.3
1    2  a1  b1  20          8.9        8.3
2    3  a1  b1  20          9.8        7.8
3    4  a1  b1  20          9.8        8.2
4    5  a1  b1  20          9.6        8.2

In [53]:
# randomly select one sample from each combination of A and B
from itertools import product

q3_samp = df_q3.iloc[:6, :].copy()
for idx, (a, b) in enumerate(product(df_q3["A"].unique(), df_q3["B"].unique())):
    mask = (df_q3["A"] == a) & (df_q3["B"] == b)
    df_sample = df_q3.loc[mask, :].sample(n=1, random_state=SEED)
    q3_samp.iloc[idx, :] = df_sample.iloc[0].values

q3_samp

   Obs   A   B   N  Sample_Mean  Sample_SD
0    9  a1  b1  20         12.3        7.9
1   19  a1  b2  20         10.8        6.5
2   29  a1  b3  20         16.2        7.6
3   39  a2  b1  20         10.0        7.2
4   49  a2  b2  20          5.6        7.3
5   59  a2  b3  20          8.8        8.0