In [1]:
import pandas as pd
import random
from cryptography.fernet import Fernet
import hashlib

In [2]:
# Load the customer dataset from the CSV file in the 'data' folder
df = pd.read_csv('customer_data.csv')

# Get the number of rows in the dataset
num_rows = len(df)
df.head()

,Name,Email,Phone,Address,Credit Card Number,Birthdate,Customer ID,Customer Notes
0,Chad Mccormick,michaelluna@example.net,(583) 849-521,"47193 Justin Walks Suite 369, East Kara, KS 58194",5213468706283695,1990-02-28,576045,Million meeting feeling mean movement wife.
1,Ryan Bennett,andrewsingh@example.com,(754) 692-912 x8477,"4569 Teresa Ridge Suite 943, South Dustin, PW ...",2247073113283473,1996-09-15,556146,Decade care form type place community out. Con...
2,Clifford Price,bnguyen@example.net,(710) 030-013,"Unit 3475 Box 9780, DPO AA 49403",2282153254734884,2004-04-16,622738,Past staff ready. Help toward all pick.
3,Valerie Freeman,dawn98@example.net,(836) 597-504,"Unit 7921 Box 5210, DPO AP 29670",2428676666853798,1997-02-12,6703,Just many major. Explain fight team question m...
4,David Chavez,icombs@example.org,(803) 550-347 x1903,"7689 Becker Shore Suite 891, North Deborah, ND...",2222284838485132,1976-07-27,407747,Develop cut owner commercial. Probably number ...

In [3]:
# Task 1: Anonymize the names column and prevent duplication
name_mapping = {}
id_list = random.sample(range(num_rows), num_rows)
def anonymize_names(row):
    # Your code here to generate anonymized names
    rand_int = random.randint(0, num_rows*2)
    new_name = f"Person {rand_int}"
    while new_name in name_mapping.values():
        rand_int = random.randint(0, num_rows*2)
        new_name = f"Person {rand_int}"
    name_mapping[row["Name"]] = new_name
    return new_name

# Uncomment the line below to apply the anonymize_names function to the 'Name' column
df['Name'] = df.apply(anonymize_names, axis=1)

In [4]:
# Task 2: Encrypt the phone numbers column using AES
# Use the provided AES key
aes_key = b'mZoTMS5zmUYjAdLbM1GRv3z5fGaz5B4IXi693pX0514='

# AES hint: You need to create a Fernet cipher object using the AES key.
# Then, encrypt each phone number using the cipher object.

cipher = Fernet(key=aes_key)
# Uncomment the lines below to apply the encryption to the 'Phone' column
def encrypt_phone_numbers(phone):
    # Your code here to encrypt the phone number using AES
    return cipher.encrypt(phone.encode())

df['Phone'] = df['Phone'].apply(encrypt_phone_numbers)

In [5]:
# Task 3: Leave the email address as-is.

In [6]:
# Task 4: Encrypt the credit card numbers column using SHA-256 hashing

# SHA hint: You need to create a SHA-256 object, update it with the credit card number,
# and then retrieve the hexadecimal representation of the hash.

# Uncomment the lines below to apply the encryption to the 'Credit Card Number' column
def encrypt_credit_card_numbers(card):
    # Your code here to encrypt the credit card number using SHA-256
    hashed = hashlib.sha256(repr(card).encode('utf-8'))
    return hashed.hexdigest()

df['Credit Card Number'] = df['Credit Card Number'].apply(encrypt_credit_card_numbers)

In [7]:
df.loc[46,"Address"]

'PSC 3422, Box 8881, APO AE 68400'

In [8]:
# Task 5: Anonymize the address column
def anonymize_addresses(address):
    address_list = address.split(",")
    if len(address_list) == 3:
        if len(address_list[2].strip().split(" ")) == 2:
            city = address_list[1].strip()
            state = address_list[2].strip().split(" ")[0]
            zip_code = address_list[2].strip().split(" ")[1]
        elif len(address_list[2].strip().split(" ")) == 3:
            state_zip = address_list[2].strip().split(" ")
            city = address_list[1].strip()
            state = f"{state_zip[0]} {state_zip[1]}"
            zip_code = state_zip[2]
    elif len(address_list) == 2:
        split_address = address_list[1].strip().split(" ")
        city = split_address[0]
        state = split_address[1]
        zip_code = split_address[2]
    else:
        pass
    df.loc[df["Address"]==address, "City"] = city
    df.loc[df["Address"]==address, "State"] = state
    df.loc[df["Address"]==address, "ZIP Code"] = zip_code
    # Your code here to generate anonymized addresses

# Uncomment the line below to apply the anonymize_addresses function to the 'Address' column
df['Address'] = df['Address'].apply(anonymize_addresses)

In [9]:
# Task 6: Remove the "Customer Notes" field

# Your code here to drop the 'Customer Notes' column
df = df.drop("Customer Notes", axis=1)
df.head()

,Name,Email,Phone,Address,Credit Card Number,Birthdate,Customer ID,City,State,ZIP Code
0,Person 313,michaelluna@example.net,b'gAAAAABnOoTi0yDMWlSx76nUtByJoHp65C2LgSXCJ-tV...,None,1e31aaad1361bc3aaccda6e3e85dddc8c2663ad8e829c5...,1990-02-28,576045,East Kara,KS,58194
1,Person 49,andrewsingh@example.com,b'gAAAAABnOoTijw4hIshSgrw4u1MRxKFA6gvkesiSQB4p...,None,deff83821a2558e2b6a93e69e1ad9270e6d68a4833d57c...,1996-09-15,556146,South Dustin,PW,15187
2,Person 760,bnguyen@example.net,b'gAAAAABnOoTikFyiQDmL5xown-Bzyx1qRsTMs-gJetEl...,None,ddd41b88ba314fbf07f8ebb2616e2c47e51a0040e6eead...,2004-04-16,622738,DPO,AA,49403
3,Person 660,dawn98@example.net,b'gAAAAABnOoTihOihA7e5bfNDgrkIwAtWKBlQPrHSu0Ur...,None,b4c0f48d525e79a7f9d2efb92c621b520aee27ae157032...,1997-02-12,6703,DPO,AP,29670
4,Person 416,icombs@example.org,b'gAAAAABnOoTiWPApemZ6ho1JKVi-45POTszcPv9MGmMP...,None,ec02a67652213bfb822165ce586a07abbc77bd34c04bd9...,1976-07-27,407747,North Deborah,ND,66201

In [10]:
# Task 7: Save the anonymized data to a new CSV file

# Your code here to save the DataFrame to 'data/anonymized_customer_data.csv'
df.to_csv("anonymized_customer_data.csv")

In [11]:
# Task 8: Write a report (1-2 pages) on the importance of data governance
# - Explain how data anonymization and encryption contribute to data governance and data privacy