In [1]:
import numpy as np
import random
import pandas as pd

In [18]:
numbers = np.arange(0, 32)
numbers

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [20]:
random.seed(5)
rand_list = random.sample(list(numbers), 20)
rand_list

[16, 23, 11, 25, 22, 26, 30, 20, 31, 0, 14, 7, 1, 5, 3, 29, 15, 13, 17, 6]

In [30]:
car_names = np.array([
    "Apollo",
    "Omega",
    "Nova",
    "Monarch",
    "Duster",
    "Jenson Conv.",
    "Skyhawk",
    "Monza",
    "Scirocco",
    "Corolla SR-5",
    "Camaro",
    "Datsun B210",
    "Capri II",
    "Pacer",
    "Babcat",
    "Granada",
    "Eldorado",
    "Imperial",
    "Nova LN",
    "Valiant",
    "Starfire",
    "Cordoba",
    "Trans AM",
    "Corolla E-5",
    "Astre",
    "Mark IV",
    "Celica GT",
    "Charger SE",
    "Cougar",
    "Elite",
    "Matador",
    "Corvette"
])
y = np.array([18.9,17.0,20.0,18.25,20.07,11.2,22.12,21.47,34.7,30.4,16.5,36.5,21.5,19.7,20.3,17.8,14.39,14.89,17.8,16.41,23.54,21.47,16.59,31.9,29.4,13.27,23.9,19.73,13.9,13.27,13.77,16.5])
x1 = np.array([350,350,250,351,225,440,231,262,89.7,96.9,350,85.3,171,258,140,302,500,440,350,318,231,360,400,96.9,140,460,133.6,318,351,351,360,350])
data = {
    "Automobiles": car_names,
    "y": y,
    "x_1": x1
}
car_data = pd.DataFrame(data)
selected_cars = car_data.iloc[rand_list, :]
selected_cars.to_latex()

'\\begin{tabular}{llrr}\n\\toprule\n & Automobiles & y & x_1 \\\\\n\\midrule\n16 & Eldorado & 14.390000 & 500.000000 \\\\\n23 & Corolla E-5 & 31.900000 & 96.900000 \\\\\n11 & Datsun B210 & 36.500000 & 85.300000 \\\\\n25 & Mark IV & 13.270000 & 460.000000 \\\\\n22 & Trans AM & 16.590000 & 400.000000 \\\\\n26 & Celica GT & 23.900000 & 133.600000 \\\\\n30 & Matador & 13.770000 & 360.000000 \\\\\n20 & Starfire & 23.540000 & 231.000000 \\\\\n31 & Corvette & 16.500000 & 350.000000 \\\\\n0 & Apollo & 18.900000 & 350.000000 \\\\\n14 & Babcat & 20.300000 & 140.000000 \\\\\n7 & Monza & 21.470000 & 262.000000 \\\\\n1 & Omega & 17.000000 & 350.000000 \\\\\n5 & Jenson Conv. & 11.200000 & 440.000000 \\\\\n3 & Monarch & 18.250000 & 351.000000 \\\\\n29 & Elite & 13.270000 & 351.000000 \\\\\n15 & Granada & 17.800000 & 302.000000 \\\\\n13 & Pacer & 19.700000 & 258.000000 \\\\\n17 & Imperial & 14.890000 & 440.000000 \\\\\n6 & Skyhawk & 22.120000 & 231.000000 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [31]:
selected_cars

     Automobiles      y    x_1
16      Eldorado  14.39  500.0
23   Corolla E-5  31.90   96.9
11   Datsun B210  36.50   85.3
25       Mark IV  13.27  460.0
22      Trans AM  16.59  400.0
26     Celica GT  23.90  133.6
30       Matador  13.77  360.0
20      Starfire  23.54  231.0
31      Corvette  16.50  350.0
0         Apollo  18.90  350.0
14        Babcat  20.30  140.0
7          Monza  21.47  262.0
1          Omega  17.00  350.0
5   Jenson Conv.  11.20  440.0
3        Monarch  18.25  351.0
29         Elite  13.27  351.0
15       Granada  17.80  302.0
13         Pacer  19.70  258.0
17      Imperial  14.89  440.0
6        Skyhawk  22.12  231.0

In [33]:
selected_cars["y"].mean()

19.262999999999998

In [38]:
sum((selected_cars["x_1"] - selected_cars["x_1"].mean())*(selected_cars["y"] - selected_cars["y"].mean()))

-12700.423399999998

In [72]:
sum((selected_cars["x_1"] - selected_cars["x_1"].mean()))

5.115907697472721e-13

In [70]:
import statsmodels.api as sm

y = selected_cars["y"].values
x = selected_cars["x_1"].values
x = sm.add_constant(x)
model = sm.OLS(y, x)
results = model.fit()

In [84]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.763
Model:                            OLS   Adj. R-squared:                  0.750
Method:                 Least Squares   F-statistic:                     58.04
Date:                Tue, 02 Sep 2025   Prob (F-statistic):           4.88e-07
Time:                        21:45:49   Log-Likelihood:                -50.133
No. Observations:                  20   AIC:                             104.3
Df Residuals:                      18   BIC:                             106.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         32.8818      1.920     17.129      0.000      28.849      36.915
x1            -0.0447      0.006     -7.618      0.000      -0.057      -0.032
==============================================================================
Omnibus:                        1.665   Durbin-Watson:                   1.542
Prob(Omnibus):                  0.435   Jarque-Bera (JB):                0.454
Skew:                           0.264   Prob(JB):                        0.797
Kurtosis:                       3.516   Cond. No.                         898.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [53]:
from sklearn.linear_model import LinearRegression

# Assuming Y and X are already prepared as above
model_sklearn = LinearRegression()
model_sklearn.fit(x.values.reshape(-1, 1), y.values.reshape(-1, 1))

# Access coefficients and intercept
print("Coefficients:", model_sklearn.coef_)
print("Intercept:", model_sklearn.intercept_)

Coefficients: [[-0.04471204]]
Intercept: [32.88184008]

In [74]:
predicted = -0.0447*selected_cars["x_1"] + 32.878

In [79]:
sum((predicted - selected_cars["y"].mean())**2)

567.5560624394

In [80]:
567.556 + 176.125

743.681

In [83]:
176.125 / (20-1-1)

9.784722222222221

In [85]:
-0.0447*(275) + 32.878

20.585500000000003

In [86]:
np.sqrt(9.784)

3.127938618323576

In [89]:
3.128*np.sqrt(1+ (1/20)+((275-304.59)**2/(284049.298)))

3.209947520789086

In [90]:
3.21*2.101

6.74421

In [92]:
20.586 + 6.744

27.33

In [94]:
y = np.array([2.3,4.1,6.2,7.9,10.4,12.1])
x = np.array([1,2,3,4,5,6])

sum((x-np.mean(x))*(y-np.mean(y)))

34.8

In [100]:
sum((y-np.mean(y))**2)

69.35333333333334

In [96]:
34.8/17.5

1.9885714285714284

In [97]:
np.mean(x)

3.5

In [98]:
np.mean(y)

7.166666666666667

In [99]:
7.167 - 1.99*(3.5)

0.20199999999999996

In [101]:
3.5 - 0.502*(7.167)

-0.09783399999999975